#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 20px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;

  .footer-sns-list {
    display: flex;
    width: 25%;
    justify-content: space-around;
    list-style: none;

    a {
      font-size: 12px;
    }
  }

  .copyright {
    font-size: 10px;
  }
}

@media screen and (max-width: 767px){
  #footer {
    flex-direction: column;

    .footer-sns-list {
      width: auto;
    }
  }
}