/*PC時の画面*/
#header { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;

  .site-title {
    a {
      width: 180px;
      line-height: 1px;
      display: block;
    }
  }

  img {
    max-width: 100%;
  }

  .header-nav-list {
    position: fixed;
    top: 0px;
    left: -300px;
    width: 300px;
    color: #fff;
    z-index: 20;
    opacity: 0;
    padding: 36px 50px;
    transition: 0.5s;
    
    .header-nav-item {
      margin-bottom: 14px;
      list-style: none;

      a {
        color: #fff;
      }
    }
  }

  .open .header-nav-list {
    left: 0px;
    opacity: 1;
  }

  .toggle-btn {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;

    span {
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #333;
      border-radius: 4px;
      transition: all 0.5s;
    }

    span:nth-child(1) {
      top: 10px;
    }

    span:nth-child(2) {
      bottom: 10px;
    }

    .open span {
      background-color: #fff;
    }

    .open span:nth-child(1) {
      -webkit-transform: translateY(4px) rotate(-45deg);
      transform: translateY(4px) rotate(-45deg);
    }

    .open span:nth-child(2) {
      -webkit-transform: translateY(-4px) rotate(45deg);
      transform: translateY(-4px) rotate(45deg);
    }
  }

  .mask {
    display: none;
    transition: all 0.5s;
  }

  .mask.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
  }
}