*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "Noto Serif JP", serif;
}

/* header */

header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  margin:  0;
  padding: 60px 80px;
  width: 100%;
  background-color: #000;
  justify-content: center;
  position: relative;
}

/* header-logo */

.header-logo {
  flex-basis: 117px;
  position: absolute;
  top: 60px;
  right: 80px;
  
}

.header-logo > img {
  line-height: 1px;
  margin-left: 60px;
  width: 40%;
}

/* header-nav */

.header-nav-list {
  position: absolute;
  top: 60px;
  right: 200px;
  display: flex;
  flex-direction: row-reverse;
}

.header-nav-item {
  color: #fff;
  font-size: 16px;
  writing-mode: vertical-rl;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

/* header-visual */

.header-visual  img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  padding: 60px 80px;
  flex: 1;
}

/* online-stor-btn */

.header-store-container {
  position: absolute;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  height: auto;
  background-color: #3A3A3A;
  bottom: 50px;
  left: 50px;
}

.header-store-container > a {
  padding: 40px 30px;
  font-size: 16px;
  color: #fff;
  writing-mode: vertical-rl;
  border: 1px solid #fff;
}

/* main */

/* title */

.section-title {
  display: flex;
  flex-direction: row-reverse;
}

.section-title-en {
  writing-mode: sideways-rl;
  font-size: 16px;
  margin-left: 10px;
  font-weight: normal;
}

.section-title-jp {
  writing-mode: vertical-rl;
  font-size: 36px;
  font-weight: normal;
  margin-left: 50px;
  letter-spacing: 5px;
}

/* news */

.section-news {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: auto;
  margin: 180px 150px;
  padding: 0 15px;
}

.news-container {
  margin: 60px 0;
  padding: 20px;
  writing-mode: vertical-rl;
}

.news-date {
  writing-mode: sideways-rl;
  font-size: 12px;
  border-right: 1px solid #000;
  padding: 10px 20px 10px 0;
}

.news-title {
  writing-mode: vertical-rl;
  padding: 5px 10px 10px 30px;
  font-size: 16px;
}

.news-title:last-of-type {
  border-left: 1px solid #000;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* product1 */

.section-products1 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto 180px auto;
  padding: 0 20px;
  justify-content: center;
}

.section-products1 > h2 {
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.section-products1 span {
  margin: 15px 20px;
}

.section-products1 span:first-of-type {
  margin-right: 25px;
}

.products1-container {
  margin-top: 100px;
  width: 65%;
}

.products1-container > img {
  max-width: 100%;
  vertical-align: bottom;
  position: relative;
}

.products1-text {
  /*position: absolute;*/
  bottom: 20px;
  left: 20px;
  background: rgba(249, 233, 6, 0.6);
  padding: 50px 0;
  text-align: center;
  color: #fff;
}

/* products2 */

.section-products2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto 180px auto;
  padding: 0 20px;
  justify-content: flex-start;
}

.section-products2 > h2 {
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.section-products2 span {
  margin: 15px 20px;
}

.section-products2 span:first-of-type {
  margin-right: 25px;
}

.products2-container {
  margin-top: 100px;
  width: 65%;
}

.products2-container > img {
  max-width: 100%;
  vertical-align: bottom;
  position: relative;
}

.products2-text {
  /*position: absolute;*/
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: rgba(149, 42, 38, 0.6);
  padding: 50px;
  text-align: center;
}

/* map */

.map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.map > iframe {
  width: 100%;
  vertical-align: bottom;
}

/* footer */