#company {
  padding: 90px 40px 160px 40px;

  .company-table {
    

    th {
      border-bottom: solid #DCDBDB 1px;
      font-weight: normal;
      text-align: left;
      padding: 20px 50px 20px 10px;
      font-size: 14px;
    }

    td {
      border-bottom: solid #DCDBDB 1px;
      font-weight: normal;
      text-align: left;
      padding: 20px 100px 20px 50px;
      font-size: 14px;
    }

    tr:last-of-type {
      th {
        border-bottom: none;
      }

      td {
        border-bottom: none;
      }
    }
  }
}

@media screen and (max-width: 767px){
  #company {
    .company-table {
      th  {
        padding: 20px 10px 5px 10px;
        border-bottom: none;
      }

      td {
        padding: 5px 10px 20px 10px;
      }

      th, td {
        display: block;
        width: 100%;
        text-align: left;
      }
    }

    .company-map {
      iframe {
        width: auto;
      }
    }
  }
}